anyio==3.6.2
appnope==0.1.3
astroid==2.9.3
asttokens==2.2.1
backcall==0.2.0
bcrypt==4.0.1
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.1.1
click==8.0.3
comm==0.1.3
config==0.5.1
contourpy==1.0.7
cryptography==38.0.4
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
dill==0.3.6
distlib==0.3.7
dnspython==2.2.1
ecdsa==0.18.0
email-validator==1.3.0
et-xmlfile==1.1.0
executing==1.2.0
fastapi==0.88.0
filelock==3.13.1
Flask==2.0.2
Flask-MySQLdb==0.2.0
fonttools==4.39.4
greenlet==2.0.1
h11==0.14.0
httpcore==0.16.2
httptools==0.5.0
httpx==0.23.1
idna==3.4
importlib-metadata==6.0.0
importlib-resources==5.12.0
ipykernel==6.22.0
ipython==8.12.0
isort==5.10.1
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
jupyter_client==8.2.0
jupyter_core==5.3.0
kiwisolver==1.4.4
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.6.1
mpmath==1.3.0
mysql-connector==2.2.9
nest-asyncio==1.5.6
networkx==3.1
numpy==1.24.2
openpyxl==3.1.2
orjson==3.8.3
packaging==23.1
pandas==2.0.0
parso==0.8.3
passlib==1.7.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==2.4.1
prompt-toolkit==3.0.38
psutil==5.9.5
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pycparser==2.21
pydantic==1.10.2
pygame==2.4.0
Pygments==2.15.1
PyJWT==2.3.0
pylint==2.12.2
PyMySQL==1.0.3
pyodbc==4.0.39
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.21.0
python-jose==3.3.0
python-multipart==0.0.5
pytz==2023.3
PyYAML==6.0
pyzmq==25.0.2
requests==2.28.1
rfc3986==1.5.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.45
stack-data==0.6.2
starlette==0.22.0
sympy==1.12
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
torch==2.0.1
torchvision==0.15.2
tornado==6.3
traitlets==5.9.0
typing_extensions==4.4.0
tzdata==2023.3
ujson==5.6.0
urllib3==1.26.13
uvicorn==0.20.0
uvloop==0.17.0
virtualenv==20.24.6
watchfiles==0.18.1
wcwidth==0.2.6
websockets==10.4
Werkzeug==2.0.2
wrapt==1.13.3
zipp==3.15.0
